* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#board_pieces_player2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 5vmin;
}

#board_pieces_player2 > div {
    border: 1px solid black;
    aspect-ratio: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.board > div {
    border: 1px solid black;
    aspect-ratio: 1;
}


.layout_direction {
    border: 1vmin solid black;
    padding: 2vmin;
    position: absolute;
    top: 0;
    left: 80%;
}

.game_directions {
    border: 1vmin solid black;
    padding: 2vmin;
    position: absolute;
    top: 10vmin;
    left: 80%;
}

.ships {
    background-color: orange;
    width: 30vmin;
    height: 10vmin;
}

.battleship {
    background-color: gold;
}

.battleship_layout {
    width: 4vmin;
    height: 1vmin;
    margin: 1vmin;
}

.carrier {
    background-color: purple;
}

.carrier_layout {
    width: 5vmin;
    height: 1vmin;
    margin: 1vmin;
}

.cruiser {
    background-color: green;
}

.cruiser_layout {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}

.submarine {
    background-color: black;
}

.submarine_layout {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}

.destroyer {
    background-color: blue;
}

.destroyer_layout {
    width: 2vmin;
    height: 1vmin;
    margin: 1vmin;
}

.hidden {
    display: none;
}

.rotate_buttons {
    position: absolute;
    top: 0;
    left: 50%;
}


.rotate_buttons2 {
    position: absolute;
    top: 30%;
    left: 50%;
}

.battleship_layout2 {
    width: 4vmin;
    height: 1vmin;
    margin: 1vmin;
}


.carrier_layout2 {
    width: 5vmin;
    height: 1vmin;
    margin: 1vmin;
}


.cruiser_layout2 {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}


.submarine_layout2 {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}

.destroyer_layout2 {
    width: 2vmin;
    height: 1vmin;
    margin: 1vmin;
}

#start_button:hover {
    color: green;
    background-color: lightgrey;
    cursor: pointer;
}

#replay_button:hover {
    color: green;
    background-color: lightgrey;
    cursor: pointer;
}

#play_music:hover {
    color: green;
    background-color: lightgrey;
    cursor: pointer;
}