* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#board_pieces_player2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 5vmin;
    transform: translate(75vmin, -77.8vmin);
}

#board_pieces_player2 > div {
    border: 1px solid black;
    aspect-ratio: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.board > div {
    border: 1px solid black;
    aspect-ratio: 1;
}

.both_boards {
    max-width: 40%;
}

.layout_direction {
    border: 0.3vmin solid black;
    padding: 2vmin;
    position: absolute;
    top: 0;
    left: 80%;
}

.game_directions {
    border: 0.3vmin solid black;
    padding: 2vmin;
    position: absolute;
    top: 10vmin;
    left: 80%;
}

.ships1 {
    background-color: orange;
    width: 30vmin;
    height: 10vmin;
    transform: translate(20vmin, 32vmin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ships2 {
    background-color: orange;
    width: 30vmin;
    height: 10vmin;
    transform: translate(95vmin, 24vmin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.battleship {
    background-color: gold;
}

.battleship_layout {
    width: 4vmin;
    height: 1vmin;
    margin: 1vmin;
}

.carrier {
    background-color: purple;
}

.carrier_layout {
    width: 5vmin;
    height: 1vmin;
    margin: 1vmin;
}

.cruiser {
    background-color: green;
}

.cruiser_layout {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}

.submarine {
    background-color: black;
}

.submarine_layout {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}

.destroyer {
    background-color: blue;
}

.destroyer_layout {
    width: 2vmin;
    height: 1vmin;
    margin: 1vmin;
}

.hidden {
    display: none;
}

.rotate_buttons {
    position: absolute;
    top: 28%;
    left: 13%;
}


.rotate_buttons2 {
    position: absolute;
    top: 28%;
    left: 53%;
}

.battleship_layout2 {
    width: 4vmin;
    height: 1vmin;
    margin: 1vmin;
}


.carrier_layout2 {
    width: 5vmin;
    height: 1vmin;
    margin: 1vmin;
}


.cruiser_layout2 {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}


.submarine_layout2 {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}

.destroyer_layout2 {
    width: 2vmin;
    height: 1vmin;
    margin: 1vmin;
}

#start_button:hover {
    color: green;
    background-color: lightgrey;
    cursor: pointer;
}

#replay_button:hover {
    color: green;
    background-color: lightgrey;
    cursor: pointer;
}

#play_music:hover {
    color: green;
    background-color: lightgrey;
    cursor: pointer;
}

h1 {
    visibility: hidden;
}

#replay_button {
    position: absolute;
    top: 50%;
    left: 90%;
}

#start_button {
    position: absolute;
    top: 45%;
    left: 90%;
}

#play_music {
    position: absolute;
    top: 40%;
    left: 90%;
}

h1, h2, h3, h4 {
    transform: translate(60vmin, -15vmin);
}

#rotate_battleship:hover, #rotate_carrier:hover, #rotate_cruiser:hover, #rotate_submarine:hover, #rotate_destroyer:hover {
    color: green;
    background-color: lightgrey;
    cursor: pointer;
}

#rotate_battleship2:hover, #rotate_carrier2:hover, #rotate_cruiser2:hover, #rotate_submarine2:hover, #rotate_destroyer2:hover {
    color: green;
    background-color: lightgrey;
    cursor: pointer;
}

#score {
    font-weight: bolder;
    font-size: larger;
}

h2, h3 {
    border: 0.3vmin solid black;
    width: 21vmin;
}

h3 {
    margin-top: 1vmin;
    width: 27vmin;
}

h4 {
    font-size: 4vmin;
    margin-top: 1vmin;
}