* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#board_pieces_player2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#board_pieces_player2 > div {
    border: 1px solid black;
    aspect-ratio: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.board > div {
    border: 1px solid black;
    aspect-ratio: 1;
}


p {
    border: 1vmin solid black;
    padding: 2vmin;
}

/* .ship {
    width: 100%;
    height: 100%;
} */

.ships {
    background-color: orange;
    width: 80vmin;
    height: 20vmin;
}

.battleship {
    background-color: red;
}

.battleship_layout {
    width: 4vmin;
    height: 1vmin;
    margin: 1vmin;
}

.carrier {
    background-color: purple;
}

.carrier_layout {
    width: 5vmin;
    height: 1vmin;
    margin: 1vmin;
}

.cruiser {
    background-color: green;
}

.cruiser_layout {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}

.submarine {
    background-color: black;
}

.submarine_layout {
    width: 3vmin;
    height: 1vmin;
    margin: 1vmin;
}

.destroyer {
    background-color: yellow;
}

.destroyer_layout {
    width: 2vmin;
    height: 1vmin;
    margin: 1vmin;
}